input {
  padding: 2px 6px;
  margin: 4px;
  border: none;
  border-bottom: 2px solid $accent;
  border-radius: 0;

  &[type='text'] {
    width: 12em;

    &.correct {
      border-bottom-color: $error;
    }
  }

  &[type='radio'] {
    position: absolute;
    left: -9999px;

    + span {
      font: 500 1.25rem/1.7em $accent_font;
      width: 1.85em;
      height: 1.85em;
      border-radius: 100%;
      border: 3px solid #ccc;
      cursor: pointer;
      text-align: center;
      display: block;
      float: left; /* make this fake elements inline block */
      position: relative; /* we need to move the element without effecting the doc flow */
      top: 0.15rem;  /* we're moving it slightly down for alignment purposes */
      left: -2px; /* we're moving it slightly to the left */
      margin: 0 .5em 0 0;
      background-color: white;

      @include if_narrower_than($text_breakpoint) {
        top: -.25rem;
        font-size: 1.1rem;
      }

      &:hover {
        background-color: $accent;
        border-color: $accent;
      }
    }

    &:checked + span {
      background-color: $accent;
      border-color: $accent;
    }

    &.correct + span {
      background-color: $error;
      border-color: $error;
    }

    &.incorrect + span {
      background-color: #ccc;
      border-color: #ccc;
    }
  }

  &:focus {
    outline: 0;
  }

  &[type="submit"] {
    -webkit-appearance: none;

    :disabled {
      background-color: #ccc;
      cursor: default;
    }
  }
}

.button {
  margin: 0 auto;
  display: block;
  float: none;
  background: $accent;
  padding: 7px 12px 4px;
  border-bottom: 0;
  cursor: pointer;
  font-family: $accent_font;
  color: #000;
  font-size: 1.1rem;
  transition: background .2s ease;

  &:hover {
    text-decoration: none;
    background: lighten($accent, 5%);
    color: #000;
  }
}
