@mixin button() {
  margin: 0 auto;
  display: block;
  float: none;
  background: $accent;
  text-transform: uppercase;
  padding: 7px 12px 4px;
  border-bottom: 0;
  cursor: pointer;
  font-family: $font_accent_family;
  font-size: 1.2em;
  color: black;
  &:hover {
    text-decoration: none;
    background: darken($accent, 1%);
  }
}

@mixin circle($radius) {
  width:#{$radius}; height:#{$radius}; /* the width and height of the fake elements */
  border: 3px solid $accent;
  cursor: pointer;
  @include border-radius(21px);
  text-align: center;
}

@mixin if_narrower_than($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin if_wider_than($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin shape_widths_with_narrower_screens($width, $height) {
  width: $width / 2;
  height: $height / 2;

  @include if_narrower_than($shape_breakpoint) {
    width: $width / 4;
    height: $height / 4;
  }
}
