$font-size:   20px;
$line-height: 30px;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font_accent_family: "Prophet", "utopia-std-headline", "acta-display", "brandon-grotesque", 'Avenir', 'Helvetica Neue', sans-serif;
$font_header_family: 'Belizio', 'adobe-garamond-pro';

.hidden-text {
  text-indent: -9999px;
  overflow: hidden;
}

.featured-text {
  font-family: $font_accent_family;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-family: $font_accent_family;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 1rem;
  padding-top: 1rem;
}

h2 {
  font-size: 1.66rem;
  line-height: 1.3rem;
  margin: 0 -2rem;
  padding: 1.5rem 0 .5em;

  @include if_narrower_than($text_breakpoint) {
    font-size: 1.5em;
    margin: 0 .5em;
    line-height: 1.4em;
  }
}

h3 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0;
}

h4 {
  color: $accent;
  font-size: 1.33rem;
  margin-top: 2rem;
}

h5 {
  color: $accent;
  font-weight: 500;
  text-align: left;
}

p {
  margin: 1em 0;

  &.error-message {
    visibility: hidden;
    text-align: center;
    color: $error;

    &.visible {
      visibility: visible;
    }
  }

  &.subhead {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
  }
  &.note {
    text-align: center;
    clear: both;
    font-style: italic;
    color: $link_hover;
  }
}

.main {
  h1, h3, h4, h5 {
    margin: 1.5em 0 .5em;
  }
}

a {
  text-decoration: none;
  color: $link;

  &.button {
    display: inline-block;
  }

  &:hover {
    text-decoration: underline;
    color: $link_hover;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
  &.special {
    @extend .featured-text;
  }
}

blockquote {
  font-family: $font_accent_family;
  font-size: 1.35rem;
  line-height: 1.3rem;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
}
