$body_bg: #f0f0f0;
$dark_bg: #222;

// pretty pink beige: #aa7966

$accent: #F0BE78;
$accent_light: #fcffde; // palest babiest beige
$accent_text: darken($accent, 20%);

$secondary_accent: #DF2F33;

$dark_text: #494C4D;

$link: darken($accent, 30%);
$link_hover: lighten($dark_bg, 40%);

$error: $secondary_accent;

$shape_breakpoint: 550px;

$text_max_width: 610px;
$text_breakpoint: 650px;
