@import "reset";
@import "variables";
@import "mixins";
@import "prophet";
@import "typography";
@import "lists";
@import "images";
@import "forms";

@import "compass/utilities/general/clearfix";
@import "compass/css3";


/* Utilities */

.display {
  display: block !important;
}

.column {
  width: 50%;
  float: left;

  @include if_narrower_than($text_breakpoint) {
    width: 100%;
    float: none;
  }
}

.column--omega {
  margin-left: 5%;
  width: 45%;

  @include if_narrower_than($text_breakpoint) {
    margin: 0;
    width: 100%;
  }
}

hr {
  clear: both;
  border: 1px solid $accent;
  border-bottom: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: $body_bg;
  font-family: $body_font;
  font-weight: 400;
  color: $dark_text;
  line-height: 1.5;
}

$header_height: 44px;

.header {
  position: fixed;
  z-index: 2;
  background: $dark_bg;
  width: 100%;
  height: $header_height;
  > a {
    float: left;
    &:hover {
      color: white;
    }
  }
}

.header-logo {
  text-align: center;
  margin-top: 0;
  color: white;
  line-height: $header_height;

  @include if_narrower_than(550px) {
    display: none;
  }
}

.header-contents {
  @extend .featured-text;
  line-height: $header_height;
  color: $accent;
  padding: 0 1rem;
}

.header-contents--points {
  float: right;
  text-align: right;

  @include if_narrower_than($text_breakpoint) {
    margin-right: -1rem;
  }
}

.header-dropdown {
  position: absolute;
  line-height: 1em;
  top: $header_height;
  display: none;
  background: $dark_bg;

  a {
    color: white;
  }
}

.splash {
  text-align: center;
  min-height: 80vh;
  position: relative;
  padding-top: 80px;

  @include if_narrower_than($text_breakpoint) {
    height: auto;
    padding-bottom: 2em;
  }
}

.splash-design { // ratio: 0.962628866
  width: 90vw;
  height: 90vw;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  margin-bottom: 40px;

  @include if_wider_than(850px) {
    width: 75vw;
    height: 75vw;
  }

  @include if_wider_than(950px) {
    width: 800px;
    height: 800px;
  }
}

.splash-text { // ratio: 0.7378129117
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 94.35%;
  height: 69.612648218895%;
}

.splash-blob1 { // ratio: 1.197166512
  position: absolute;
  top: 2.222222222222222%;
  right: 0;
  z-index: 1;
  width: 39.96%;
  height: 47.83877381952%;
}

.splash-blob2 { // ratio: 0.6703718674
  position: absolute;
  bottom: 35.5555555555556%;
  left: 4.444444444444444%;
  z-index: 1;
  width: 13.32%;
  height: 8.929353273768%;
}

.splash-blob3 { // ratio: 0.3636342447
  position: absolute;
  bottom: 24.444444444444444%;
  right: 11.111111111111111%;
  z-index: 1;
  width: 61.05%;
  height: 22.199870638935%;
}

.splash-silverware { // ratio: 1.1751334709
  position: absolute;
  bottom: 0;
  left: 7.777777777777778%;
  z-index: 2;
  width: 41.07%;
  height: 48.262731649863%;
}

.splash-subhead {
  position: absolute;
  bottom: 13%;
  right: 15.5%;
  font-size: 2.5rem;
  color: #111;
  margin: 0;
  line-height: 1;

  @include if_narrower_than(850px) {
    right: 11%;
  }

  @include if_narrower_than(750px) {
    font-size: 2.15rem;
  }

  @include if_narrower_than(570px) {
    font-size: 1.75rem;
  }

  @include if_narrower_than(480px) {
    font-size: 1.40rem;
    bottom: 9%;
    right: 6.6%;
  }
}

.chapter {
  max-width: $text_max_width;
  margin: 0 auto;
  padding: 2rem calc(50vw - #{$text_max_width / 2});
  top: 4rem;
  position: relative;
  margin-top: 2rem;
  box-sizing: content-box;
  background-color: #fff;
  margin-bottom: 4rem;

  p, h3, li {
    position: relative;
  }

  @include if_narrower_than($text_breakpoint) {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
  }
}

.chapter--first {
  margin-top: 0;
  margin-bottom: -4rem;
  top: 0;
  background-color: transparent;
}

.chapter-header {
  position: relative;
}

.chapter-header-text {
  position: relative;
  z-index: 1;
}

.chapter-header-shape {
  position: absolute;
}

.shape-2 {
  @include shape_widths_with_narrower_screens(808px, 404px);
  top: -70px;
  left: -30px;

  @include if_narrower_than($shape_breakpoint) {
    top: -20px;
  }
}

.shape-3 {
  @include shape_widths_with_narrower_screens(976px, 368px);
  top: -50px;
  left: -50px;

  @include if_narrower_than($shape_breakpoint) {
    top: -20px;
  }
}

.footer {
  background-color: $dark_bg;
  max-width: $text_max_width;
  padding: 2rem calc(50vw - #{$text_max_width / 2});
  margin-top: 4rem;
  box-sizing: content-box;
  @include clearfix;

  a {
    color: white;
  }

  @include if_narrower_than($text_breakpoint) {
    padding: 2rem 1rem;
  }
}

/* Points: Header, Modal, Conclusion */

.points {
  margin: .5em 0;
  position: relative;
  @include clearfix;

  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0px;
    border-color: $accent;
    border-style: solid;
    border-width: 0 3px 0 0;
    transform: rotate(17deg);
    left: 48%;
    top: 0;
  }
}

.points-earned, .points-total {
  font-family: $accent_font;
  font-size: 3em;
  padding: 0 .35em;
  width: 2em;
}

.points-earned {
  text-align: right;
  float: left;
}

.points-total {
  float: right;
  margin: .5em 0 0;
}

.points-text {
  position: absolute;
  left: 70%;
  bottom: 0;
  margin: 0;
  font-style: italic;
}

.points-text--conclusion {
  @include if_wider_than($text_breakpoint) {
    left: 60%;
  }
}

.points--featured {
  margin: 2em 0;
  position: relative;

  &:after {
    left: 40%;
  }

  .points-earned, .points-total {
    line-height: 1em;
    width: 37%;
  }

  .points-total {
    text-align: left;
    margin-right: 20%;
  }
}

.points--header {
  float: right;
  color: white;

  .points-earned, .points-total {
    font-size: 1.75em;
    line-height: 0.9;
  }

  .points-total {
    margin-top: .2em;
  }
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: center;

  &:target {
    opacity:1;
    pointer-events: auto;
  }

  > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px 20px 13px;
    border-radius: 3px;
    background: #fff;
    @include clearfix;

    @include if_narrower_than($text_breakpoint) {
      max-width: 95%;
      margin-top: 30%;
    }
  }

  .close {
    position: absolute;
    text-indent: -9999px;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    padding: .75rem;
    box-sizing: content-box;
    background: url(../images/close.svg) no-repeat .75rem;
    background-size: 1rem 1rem;
  }
}
