@import "reset";
@import "variables";
@import "mixins";
@import "typography";
@import "lists";
@import "images";

@import "compass/utilities/general/clearfix";
@import "compass/css3";


/* Utilities */

.display {
  display: block !important;
}

.column {
  width: 50%;
  float: left;
  &.omega {
    margin-left: 5%;
    width: 45%;
  }
}

hr {
  clear: both;
  border: 1px solid $accent;
  border-bottom: 0;
}


/* Sprite */
$sprites-spacing: 20px;
//$sprites-sprite-dimensions: true;
$sprites: sprite-map("sprites/*.png", $spacing: 20px); /* sdknf */

@import "sprites/*.png";

* {
  box-sizing: border-box;
}

body {
  background: $body_bg;
  font-family: $font;
  color: $dark_text;
  line-height: 1.5;
}

$header_height: 44px;

.header {
  position: fixed;
  z-index: 2;
  background: $dark_bg;
  width: 100%;
  height: 44px;
  > a {
    float: left;
    &:hover {
      color: white;
    }
  }
}

.header-logo {
  text-align: center;
  margin-top: 0;
  color: white;
  line-height: $header_height;

  @include if_narrower_than(550px) {
    display: none;
  }
}

.header-contents {
  @extend .featured-text;
  font-size: 16px;
  line-height: $header_height;
  color: $accent;
  margin: 0 1em;
}

.header-contents--points {
  float: right;
  text-align: right;

  @include if_narrower_than($text_breakpoint) {
    margin-right: -.4rem;
  }
}

.header-dropdown {
  position: absolute;
  font-size: 16px;
  line-height: 1em;
  top: $header_height;
  display: none;
  background: $dark_bg;

  a {
    color: white;
  }
}

.splash {
  text-align: center;
  min-height: 80vh;
  position: relative;
  padding-top: 80px;
}

.splash-design { // ratio: 0.962628866
  width: 90vw;
  height: 90vw;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  margin-bottom: 40px;
}

.splash-text { // ratio: 0.7378129117
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 85vw;
  height: 62.7140974945vw;
}

.splash-blob1 { // ratio: 1.197166512
  position: absolute;
  top: 2vw;
  right: 0;
  z-index: 1;
  width: 36vw;
  height: 43.097994432vw;
}

.splash-blob2 { // ratio: 0.6703718674
  position: absolute;
  bottom: 32vw;
  left: 4vw;
  z-index: 1;
  width: 12vw;
  height: 8.0444624088vw;
}

.splash-blob3 { // ratio: 0.3636342447
  position: absolute;
  bottom: 22vw;
  right: 10vw;
  z-index: 1;
  width: 55vw;
  height: 19.9998834585vw;
}

.splash-silverware { // ratio: 1.1751334709
  position: absolute;
  bottom: 0;
  left: 7vw;
  z-index: 2;
  width: 37vw;
  height: 43.4799384233vw;
}

.splash-subhead {
  position: absolute;
  bottom: 12vw;
  right: 14vw;
  font-size: 2.5rem;
  color: #111;
  margin: 0;
  line-height: 1;

  @include if_narrower_than(850px) {
    right: 10vw;
  }

  @include if_narrower_than(750px) {
    font-size: 2.15rem;
  }

  @include if_narrower_than(570px) {
    font-size: 1.75rem;
  }

  @include if_narrower_than(480px) {
    font-size: 1.40rem;
    bottom: 8vw;
    right: 6vw;
  }
}

.chapter {
  max-width: $text_max_width;
  margin: 0 auto;
  padding: 2rem calc(50vw - #{$text_max_width / 2});
  top: 4rem;
  position: relative;
  margin-top: 2rem;
  box-sizing: content-box;
  background-color: #fff;
  margin-bottom: 4rem;

  @include if_narrower_than($text_breakpoint) {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
  }
}

.chapter--first {
  margin-top: 0;
  margin-bottom: -2rem;
  top: 0;
  background-color: transparent;
}

.chapter-header {
  position: relative;
}

.chapter-header-text {
  position: relative;
  z-index: 1;
}

.chapter-header-shape {
  position: absolute;
}

.shape-2 {
  @include shape_widths_with_narrower_screens(808px, 404px);
  top: -50px;
  left: -30px;

  @include if_narrower_than($shape_breakpoint) {
    top: -20px;
  }
}

.shape-3 {
  @include shape_widths_with_narrower_screens(976px, 368px);
  top: -50px;
  left: -50px;

  @include if_narrower_than($shape_breakpoint) {
    top: -20px;
  }
}

.footer {
  background-color: $dark_bg;
  max-width: $text_max_width;
  padding: 2em calc(50vw - #{$text_max_width / 2});
  margin-top: 4em;
  box-sizing: content-box;
  @include clearfix;
  div {
    @extend .column;
  }
  a {
    color: white;
  }
  h5 {
    text-transform: uppercase;
  }
}


/* Text */

p {
  margin: 1em 0;
  position: relative;
  &.error-message {
    visibility: hidden;
    text-align: center;
    color: $error;

    &.visible {
      visibility: visible;
    }
  }

  &.subhead {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
  }
  &.note {
    text-align: center;
    clear: both;
    font-style: italic;
    color: $link_hover;
  }
}

.main {
  h1, h3, h4, h5 {
    margin: 1.5em 0 .5em;
  }
}

/* Forms */

input {
  padding: 2px 6px 0px;
  margin: 4px;
  background: #fcfcfc;
  border: none;
  border-bottom: 3px solid $accent;
  font-family: $font_accent_family;
  font-size: 1.2em;

  &[type='text'] {
    width: 10em;

    &.correct {
      border-bottom-color: $error;
    }
  }

  &[type='radio'] {
    position: absolute;
    left: -999em;

    + span {
      @include border-radius(21px);
      width:39px;
      height:39px;
      border: 3px solid #ccc;
      cursor: pointer;
      text-align: center;
      display: block;
      float: left; /* make this fake elements inline block */
      position: relative; /* we need to move the element without effecting the doc flow */
      top: 0.15em;  /* we're moving it slightly down for alignment purposes */
      left: -2px; /* we're moving it slightly to the left */
      margin: 0 .5em 0 0;
      font: 500 1.25em/1.8em $font_accent_family;
      background-color: white;

      &:hover {
        background-color: $accent;
        border-color: $accent;
      }
    }

    &:checked + span {
      background-color: $accent;
      border-color: $accent;
    }

    &.correct + span {
      background-color: $error;
      border-color: $error;
    }

    &.incorrect + span {
      background-color: #ccc;
      border-color: #ccc;
    }
  }

  &:focus {
    outline: 0;
  }

  &[type="submit"] {
    @include button;
    @include transition(background-color);

    &:disabled {
      background-color: #ccc;
      cursor: default;
      //color: #eee;
    }
  }
}


/* Quiz Stuff */

.points {
  margin: .5em 0;
  @include sprites-sprite(divider, $offset-x: 41%, $offset-y: -2px);
  @include clearfix;
  div {
    font-family: $font_accent_family;
    font-size: 3em;
    padding: 0 .35em;
    width: 2em;
    &.earned {
      text-align: right;
      float: left;
    }
    &.total {
      float: right;
      margin: .5em 0 0;
    }
  }
  &.feature {
    @include sprites-sprite(divider, $offset-x: 39%, $offset-y: -2px);
    margin: 2em 0;
    position: relative;
    div {
      line-height: 1em;
      width: 37%;
      &.total {
        text-align: left;
        margin-right: 20%;
      }
    }
    p {
      position: absolute;
      right: 15%;
      bottom: 0;
      margin: 0;
      font-style: italic;
    }
  }
  &.conclusion {
    p {
      right: 31%;
    }
  }
}

.points--header {
  float: right;
  color: white;

  div {
    font-size: 1.75em;
    line-height: 0.9;

    &.total {
      margin-top: .2em;
    }
  }

  @include if_narrower_than($text_breakpoint) {
    font-size: .8em;
    padding-top: 0.3rem;
  }
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  @include transition(opacity 400ms ease-in);
  pointer-events: none;
  text-align: center;

  &:target {
    opacity:1;
    pointer-events: auto;
  }

  & > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    @include border-radius(3px);
    background: #fff;
    @include clearfix;
  }
  .close {
    position: absolute;
    color: black;
    right: 10px;
    width: 24px;
    font-size: 2em;
    font-family: $font_accent_family;
    text-align: center;
    text-decoration: none;
    &:hover { color: #555; }
  }

}

@media screen and (max-width: $text_breakpoint) {

  header {
  }

  .splash {
    height: auto;
    padding-bottom: 2em;

    h1 {
      padding-top: .55em;
    }
    p.author {
      margin: 2em 0;
    }
    h2 br { display: none; }
  }

  .content {
    padding: 0 .5em;
    img {
      max-width: 100%;
      margin-left: 0;
      left: 0;
    }
  }

  .glasses {
    font-size: $font-size*.75;
    line-height: 1.4em;
    div:nth-child(3) {
      clear: both;
    }
  }

  .column {
    width: 100%;
  }

  .modal {
    > div {
      max-width: 95%;
      margin-top: 30%;
    }
  }

}
