@import "reset";

/* VARS */

$font: 18px/24px 'Adobe Caslon Pro';

$red: rgb(170,20,10);

$beige: rgb(255,254,250);

$beige: #fffefe;

$brown_dark: rgb(39,14,9);

$brown: rgb(94,26,24);

$brown_tint: #c7a8a9;

$error: red;

/* Typography */
/*$base-font-size:   18px;
$base-line-height: 24px;

+establish-baseline($base-font-size)
*/
/*  +adjust-font-size-to(15px); */

/* .calluna, .garamond, & .minion */

* {
  box-sizing: border-box;
}

body {
  background: $beige;
  font: $font;
  color: $brown_dark;
}

div.content {
  max-width: 800px;
  margin: 0 auto;
}

/* Text */

p {
  margin: 1em 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $red;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  font-family: 'Caslon 3';
  text-align: center;
  color: $red;
}

h1 {
  font-size: 2em;
  line-height: 2.5em;
}

h2 {
  font-size: 1.66em;
  margin: 1em 3em 0;
  padding: 1em;
  border-top: 1px solid $brown_tint;
}

h3 {
  font-size: 1.33em;
  margin: 1.5em 0 0;
}

h4 {
  text-transform: uppercase;
}

/* Lists */

nav {
  overflow: hidden;
  ol {
    width: 50%;
    float: left;
  }
}

ol, ul {
  padding: 1em 2em;
}

ol {
  &:first-child {
    //counter-reset: customlistcounter;
  }
  li {
    list-style-type: decimal-leading-zero;
    //counter-increment: customlistcounter;
    &:before {
      //content: counter(customlistcounter) " ";
    }
    &.error {
      color: $error;
    }
  }
}

li {
  margin: .5em 0;
}

/* Forms */

input {
  padding: 6px 6px 3px;
  margin: 4px;
  border: 1px solid $brown_tint;
  border-radius: 3px;
  font: $font;
  &[type='text'] {
    width: 160px;
  }
}