@import "reset";

/* VARS */

$font-size:   20px;
$line-height: 30px;

$font: #{$font-size}/#{$line-height} 'adobe-garamond-pro', 'Adobe Caslon Pro';

$font_accent_family: "brandon-grotesque", Helvetica, sans-serif;

$red:       rgb(170,20,10);

$lime:      #e4ff00;

$lime_alt:  #c8df00;

$lime_med:  #b1c600;

$lime_dark: #97a900;

$red:       #f26c4f;

$accent:      $lime;

$accent_text: $lime_med;

$button_bg: $lime;

$link: $lime_dark;

$link_hover: darken($lime_dark, 10%);

$beige: rgb(255,254,250);

$beige: #fffefe;

$brown_dark: rgb(39,14,9);

$brown: rgb(94,26,24);

$brown_tint: #c7a8a9;

$error: $red;



/* Typography */
/*$base-font-size:   18px;
$base-line-height: 24px;

+establish-baseline($base-font-size)
*/
/*  +adjust-font-size-to(15px); */

/* .calluna, .garamond, & .minion */

* {
  box-sizing: border-box;
}

body {
  background: $beige;
  font: $font;
  color: $brown_dark;
}

div.content {
  max-width: 610px;
  margin: 0 auto;
}

section.header {
  text-align: center;
}

/* Text */

p {
  margin: 1em 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $link;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
    color: $link_hover;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'brandon-grotesque';
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

h1 {
  font-size: 2em;
  line-height: 2.5em;
}

h2 {
  font-size: 1.66em;
  margin: 2em -2em 0;
  padding: 2em 0 .5em;
  border-top: 3px solid $accent;
}

h3 {
  font-size: 1.33em;
  margin: 1.5em 0 0;
}

h4 {
  color: $accent_text;
  font-weight: 500;
  font-size: 1.33em;
  margin-top: 2em;
}

h5 {
  color: $accent_text;
  font-weight: 500;
}

/* Lists */

nav {
  
  ol {
    width: 50%;
    float: left;
    li {
      line-height: $line-height;
      a {
        color: black;
      }
    }
  }

}

ol, ul {
  padding: 0em 2em 1em;
}

ol {
  &:first-child {
    //counter-reset: customlistcounter;
  }
  li {
    line-height: $line-height*1.5;
    list-style-type: decimal-leading-zero;
    &.error {
      &:before {
        color: $error;
      }
    }
  }
}

li {
  margin: .5em 0;
}


$lists:6,11,12,15,20,24,26,34,40,61,64,67;

ol {
  counter-reset:li; /* Initiate a counter */
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
  @each $list in $lists {
    &[start="#{$list}"] {
      counter-reset:li -1+$list;
    }
  }
  li { 
    position:relative; /* Create a positioning context */
    margin:0 0 0 -.25em; /* Send numbers out to the left */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    //border-top:2px solid #666;
    //background:#f6f6f6;
    &:before {
      content:counter(li) '.'; /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      /* Position and style the number */
      position:absolute;
      top:-2px;
      left:-2em;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      width:2em;
      /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */
      margin-right:8px;
      padding:5px;
      //border-top:2px solid #666;
      //color:#fff;
      //background:#666;
      font-weight:600;
      font-family: $font_accent_family;
      text-align:center;
      color: $accent_text;
    }
  }
}

/* Forms */

input {
  padding: 2px 6px 0px;
  margin: 4px;
  background: #fcfcfc;
  border: none;
  border-bottom: 4px solid $lime_alt;
  font-family: $font_accent_family;
  font-size: 1.15em;
  &[type='text'] {
    min-width: 9em;
  }
  &:focus {
    outline: 0;
  }
}
